.contact-box
{
width:50vh;
background:linear-gradient(to top, rgba(0,0,0,0.5)30%,rgba(0,0,0,0.5)30%);
box-shadow:0,0,20px 0 #999;
top:50%;
left:50%;
transform:translate(-50%,-50%);
position:absolute;
border-radius:20px;
overflow-x:hidden;
display:flex;
flex-direction:column;
margin:0%;
height:75vh;
bottom-border-radius:20px;
border:1px solid #777;
}
@media(min-width:40em){
.content-box{
flex-direction:column;
--fs-600:3rem;
--fs-400:1.125rem;

}
}
::root{
--ff-body:"Heebo",sans-sarif;
--ff-heading:"Oswald",sans-serif;

--clr-primary-400:hsl(60 100% 50%);
--clr-neutral-900:hsl(0 0% 0%);
--clr-neutral-400:hsl(0 0% 100%);

--fs-xl:clamp(3.5rem, 12vw + 1rem, 12rem);
--fs-600: 2rem;
--fs-400: 1rem;
}
@media(min-width:40em){
:root{
--fs-600:3rem;
--fs-400:1.125rem;
}
}
form
{
margin:35px;
position:fixed;
}
@media(min-width:390px){
.contact-box{
flex-direction:column;
}
}
.input-field
{
width:256px;
height:40px;
margin-top:20px;
padding-left:10px;
border:1px solid #777;
border-radius:14px;
outline:none;
items-align:center;
display:flex;

}
.textarea-field
{
height: 150px;
padding-top: 10px;
width:256px;

}
button
{
border-radius:20px;
color:#fff;
margin-top:18px;
padding:10px;
background-color:#47c35a;
font-size:12px;
border:none;
cursor:pointer;
padding-bottom:10px;
}
button:hover{
color:#d40219;
}
.icon a{
text-decoration:none;
color:#ff7200;
}
.icon ion-icon{
color:#ff7200;
font-size:30px;
padding-left:14px;
padding-top:5px;
trasition:0.3s ease;
}
.icons ion-icon:hover{
color:#fff;
}



