@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap');
::-webkit-scrollbar{
display:none;
}
section {

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Urbanist', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
margin:0;
}
html {
margin:0;
padding:0
overflow-x:hidden;
width:100%;
flex-direction:column;
}

:root {
--ff-body:"Heebo", sans-serif;
--ff-heading:"Oswald".sans-serif;

--clr-primary-400: hsl(60 100% 50%);
--crl-neutral-900: hls(0 0% 0%);
--crl-neutral-100: hsl(0 0% 100%);

--fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
--fs-600:2rem;
--fs-400:1rem;
}
@media (min-width:40em){
:root {

--fs-600:3rem;
--fs-400:1.125;
}
}
body {
margin:0;
padding:0;
overflow-x:hidden;
width:100%;
min-height:100vh;
font-size:var(--ff-heading);
line-height:1.6;

}
p{
color:#000000;
}

h1{

    position: absolute;
    text-align: center;
    font-size: var(--f-heading);
    color: #fff;
    letter-spacing: 15px;
    text-shadow: 10px 21px 10px rgba(0, 0, 0, 0.5);
     top:50%;
     left:50%;
     transform:translatex(-50%) translatey(-50%);
     overflow:hidden;
    
}
@media(min-width:412px){

    h1{
        letter-spacing: 10px;
        font-size: 20vh;
        overflow-x:hidden;
        flex-direction:column;
 
        
    }
}

.bg-image {

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: scaleInfinite infinite 15s;
}

@keyframes scaleInfinite {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.navbar{

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin:0;
   
}

.navbar .nav-link {

    font-size: 18px;
    margin-left: 30px;
    position: relative;
    color: rgba(255, 255, 255, .60);
}

.navbar .navbar-brand img{

    max-height: 40px;
}


.navbar .nav-link::before {

    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 0px;
    height: 2px;
    background-color: #f9f06d;
    box-shadow: 0px 0px 8px #f9f06d;
    transition: all .6s ease;
    transform-origin: center;
}

.navbar .nav-item:hover .nav-link::before {

    width: 100%;
}

.navbar .navbar-toggler {

    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar .toggle-btn {

    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 1100;
}

.navbar .toggle-btn .bar {

    width: 25px;
    height: 3px;
    margin: 7px 0 7px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f9f06d;
}

.navbar .toggle-btn .bar:nth-child(2) {

    width: 35px;
}

.navbar #toggle-menu {

    display: none;
    overflow-x:hidden;
   
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(2) {

    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(1) {

    -webkit-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(3) {

    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

.modal-dialog {

    margin-left: -3px;
    margin-top: -3px;
    width: 85%;
}

.modal-dialog .modal-content{

    background-color: #2a252e;
}

.modal-dialog .modal-header, .modal-dialog .modal-footer{

    border: none;
}

.modal-dialog .modal-header img{

    max-height: 40px;
}

.modal-dialog .modal-body {

    padding-top: 65px;
    background-color: #17161d;
}

.modal-dialog .nav-link {

    font-size: 18px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, .60);
}

.modal-dialog .nav-link i {

    margin-right: 10px;
    color: #f9f06d;
}

.dropdown-menu{

    background-color: #2a252e;
    color: #f9f06d;
    margin:0;
    padding:0;
   display:none;
    overflow-x:hidden;
}

.dropdown-item{

    color: rgba(255, 255, 255, .60);
}

.modal-dialog .btn-secondary{

    color: #2a252e;
    background-color: #f9f06d;
    border: none;
}
/*-----course-----*/

.content{
width:100%;
margin:0;
overflow-x:hidden;
background-color:deepskyblue;
height:100vh;
padding:0;
top:50%;
left:50%;

}
@media(max-width:985px){
.content{
flex-direction:column;
}
}
@media(min-width:412px){
.content{
flex-direction:column;
}
}
.content p{
font-size:18px;
}
.container{
width:100%;
margin:0;
display:auto;
overflow-x:hidden;
height:100%;
padding:0;
min-width:100%;
}
/*------footer----*/
.footer{
width:100%;
margin:auto;
display:auto;
flex-direction:column;
overflow:hidden;
background-color:#f9f06d;
}
@media(max-width:985px){
.footer{
flex-direction:column;
}
}
@media(min-width:412px){
.footer{
flex-direction:column;
}
}
@meadia(max-width:700p){
.content{
flex-direction:column;
}
}

/*-----3dimage-----*/

*{
    margin: 0;
    padding: 0;
}
.wrapper{
    min-height: 100vh;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img/hk.jpg.jpg);
background-size:cover;
background-position:center;
background-attachment:fixed;
background-repeat:no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    margin: 20px;
}
.single-box{
    width: 300px;
    height: 300px;
    perspective: 1200px;
}
.box-content{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-150px);
    transition: all 1s;
}
.sides{
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    
}
.side-1{
    transform: rotateY(0deg) translateZ(150px);
    z-index: 2;
    background-size: cover;
    background-position: center center;

}
.side-2{
    color: #fff;
    background-color: deepskyblue;
    transform: rotateY(90deg) translateZ(150px);
}
.box:hover .box-content{
    transform: translateZ(-150px) rotateY(-90deg);
}
.content{
    display: flex;
    justify-content: center;
    height: 100%;
   flex-direction:column;
   background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img/hk.jpg.jpg);
background-size:cover;
background-position:center;
background-attachment:fixed;
background-repeat:no-repeat;
width:100%;
     
}
.content h2{
    font-family: alfa slab one;
    font-size: 36px;
    
}
.content p{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
}
.socials{
    margin-top: 30px;
}
.socials i{
    margin: 0 15px;
}

@media (max-width:991px){
    .wrapper{
        flex-direction: column;
    }
}

.Img{
--fs-xl:clamp(5rem,12vw+ 1rem, 12rem);
--fs-600:3rem;
--fs-400:1rem;
}
@media(min-width:60em){
.Img{
--fs-600:3rem;
--fs-400:1.125rem;
}
}












